<a href="https://colab.research.google.com/github/Bernardo751/PA_python/blob/main/Untitled2_11_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bernardo Antunes de Queiroz

Turma: Manhã

Exercícios com todos os conteúdos aplicados até o momento.

In [4]:
# Exercício 1 inserir os seus dados acima em variáveis
#Exemplo
nome = "Bernardo Antunes"
Turma = "Manhã"

In [5]:
# Exercicio 2
print(nome[8::])

 Antunes

In [7]:
# Exercicio 3
print(nome[::-1])

senutnA odranreB

In [8]:
# Exercício 4 - pegue a frase abaixo, aplique o split para fazer uma quebra toda vez que encontrar uma ","
frase = "Python é a linguagem ideal para o primeiro contato com programação, além da sua sintaxe simples e muito poderosa, Python tem diversas aplicações como: desenvolvimento web, análise de dados, inteligência artificial e automatização de tarefas, neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem, a comunidade Python é a que mais cresce, assim como sua demanda de profissionais no mercado."
frase.split(',')

['Python é a linguagem ideal para o primeiro contato com programação',
 ' além da sua sintaxe simples e muito poderosa',
 ' Python tem diversas aplicações como: desenvolvimento web',
 ' análise de dados',
 ' inteligência artificial e automatização de tarefas',
 ' neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem',
 ' a comunidade Python é a que mais cresce',
 ' assim como sua demanda de profissionais no mercado.']

In [13]:
# 5
for i in range (1,11):
 print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
# 6
objetos = ["tesoura", "lapis", "borracha", "caneta", "lapiseira"]

In [18]:
print(objetos)

['tesoura', 'lapis', 'borracha', 'caneta', 'lapiseira']

In [20]:
# Exercício 7 - - Crie duas strings e concatene as duas em uma terceira string
a = "Bernardo "
b = "Antunes"
c = a + b
print(c)

Bernardo Antunes

In [26]:
# Exercicio 8
tupla = (1, 2, 2, 3, 4, 4, 4, 4, 4, 4, 4, 5)


contagem_4 = tupla.count(4)


print(f'O número 4 aparece {contagem_4} vezes na tupla.')

O número 4 aparece 7 vezes na tupla.

In [27]:
# 1 - Use o método len para imprimir o comprimento da string.
x = "Hello World"
print(len(x))

11

In [28]:
# 2 - Obtenha o primeiro caractere da string txt.
txt = "Hello World"
x = txt[0]
print(x)

H

In [29]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [30]:
# 4 - Converta o valor de txt para maiúsculas.
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

In [31]:
# - Conte quantas vezes aparece a palavra "de" na string abaixo
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
count_de = txt.count("de")
print(count_de)

3

In [32]:
# - Separe a frase abaixo toda vez que encontrar um vírgula.
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
separada = txt.split(",")
print(separada)

['Eu gosto de vijar', ' tomar vinho', ' de estudar estudar programação', ' de estudar Pyhon']

In [39]:
# Exercício 9 - Crie um dicionário vazio e imprima na tela
meudicionário = {

}

In [40]:
# Criando o dicionário
dicionario = {
    "nome": "Bernardo",
    "idade": 15,
    "cidade": "São Paulo"
}

# Imprimindo o dicionário
print(dicionario)

{'nome': 'Bernardo', 'idade': 15, 'cidade': 'São Paulo'}

In [42]:
# Exercício 11 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
# Criando o dicionário
dicionario = {
    "nome": "Bernardo",
    "idade": 30,
    "cidade": "São Paulo",
    "notas": [8.5, 9.0]

}

# Imprimindo o dicionário
print(dicionario)

{'nome': 'Bernardo', 'idade': 30, 'cidade': 'São Paulo', 'notas': [8.5, 9.0]}

In [43]:
# Exercício 13 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

# Criando a lista
minha_lista = [
    "Olá",
    (10, 20),
    {"nome": "Carlos", "idade": 40},
    3.14
]

# Imprimindo a lista
print(minha_lista)

['Olá', (10, 20), {'nome': 'Carlos', 'idade': 40}, 3.14]

In [49]:
# Exercício 14 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais legal do século XXI'
# Definindo a string
frase = ' Cientista de Dados é o profissional mais legal do século XXI'

# Imprimindo os caracteres da posição 1 a 18
print(frase[1:18])

Cientista de Dado